<ol class="post-list">
    {{#each posts as |post|}}
    <li>
        <article class="post">
            <div>
                <h2 class="post-title">{{post.title}}</h2>
                <h3 class="username">{{post.username}}</h3>
                <h4 class="date-created">{{post.date_created}}</h4>
                <p class="post-content">{{post.content}}</p>                
            </div>
        </article>
    </li>
    {{/each}}
</ol>